extends ../layout
//- styles
block styles
  link(rel='stylesheet' href='stylesheets/admin/admin.css')


//- title
block nav
  .container
    .h1.text-center 后台管理系统
    - if(username)
      .h2.text-center #{username}，欢迎回来!
    - else
      button.center-block(type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg") sign in

//- body
block content
  .modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
    .modal-dialog.modal-lg.modal-signin(role="document")
      .modal-content
        .container-fluid.signin
          .row
            .col-lg-6.col-lg-offset-3.col-xs-12
            .h2.text-center 登录
          .row
            .col-lg-6.col-lg-offset-3.col-xs-12
              .input-group
                span.input-group-btn
                  button.label-uname(class="btn btn-default" type="button") username
                input.form-control(type='text' name='username' id='username')
          .row
            .col-lg-6.col-lg-offset-3.col-xs-12
              .input-group
                span.input-group-btn
                  button.label-pwd(class="btn btn-default" type="button") password
                input.form-control(type='password' name='password' id='password')
          .row
            .col-lg-6.col-lg-offset-3.col-xs-12
              input.btn-signin.btn.btn-success.center-block(type='button' value='sign in')
          .row
            .col-lg-6.col-lg-offset-3.col-xs-12
              .alert.text-center 
              


//- script
block scripts
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='javascripts/admin/login.js')