doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block styles
  body
    block nav
    block banner
    block content
    block foot
    block scripts
    
